{
  "presets": ["es2015"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ]
}
