{
  "extends": "standard",
    "rules": {
      "require-jsdoc": [ "error", {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      } ]
    }
}
