language: node_js
node_js:
- node
after_success:
- npm run coveralls
before_deploy:
  - deployment-scripts/before-deploy.sh
  - deployment-scripts/create-zip.sh
deploy:
  - provider: s3
    access_key_id:
      secure: rtsCemp81+EDPH12IoIR8jgcI309jo7ftmNlJ83XPu7TY1nWHE4/IVATRDb/v+jTIx7jQp8clY6BFMJpaNkReuSA3rJFtv/WtDSZp9kJaiIZDCzSowxIHY9DAr3cYgBuCVxm8N3YCG59GRHKvpPl//t9OfKMXMGEEQYgCF+mxVGpsM4RN14utxgV1tweAJ0nWQ4Z14CHmOHKLLhNuFBwKH5ZSRovD4Qc435v5PeaHf54Ru+0xPWCxX4t00qywuNGeyAlwZ6NSwGDVaY6KDuVnhQJiVlrj3ZezG/t5eVUgsxBuSpzhnk9ho/0Z93xjITpoDIVnBSBLH6lg9KyeQn03qt/Y7EoaU/SrWqq+llY3T+5n0FZzYevCxVaj1r1QIVf3zy5ynVUlv7otbWdBWcdaQyy5PVO8zfnmo1pqI8leZbi112NNT8fZpCCrvAZO0hdMR2J5IpyV+qxmd5LK5+pmW4v3xk3aQQp02iZnf4Br78rPzIf8QZaM+uy/yqM65XMHOevWxtkoTVFO4L2YodrsKppakZp5XJeu02YtBoSdWq0bg7jHFBEHBGX8++rJqoyPJg1NdIFx6tINaS9sroJTlwd4nI8b/FvYzU8LWH9PM2vMikrDsbxOdMj8tQGUDBZdVcjaM3UNN7g/mqnuQ7SkxH9T9h6kgXU1OBfq6xdri8=
    secret_access_key:
      secure: kfF53sQ5f1U9kytxv1IlFLnR7WQwq8YJFMz/20SHjMEpRH5iFZuKlHXxopJnlTPk6sAWWkfZunVD2+3pl5PtZX6fwVUF9BYxykyZ8/acOpL8YfUJmLekDya0R1utG2s8YKCSZYY/oVWVEc7wKvgLy9oB9YtJgWnzMXJ1XurkZpyc6tzRXthB5uETYAh6TRVfai4edxsNq/x7s+gYHKbqmWHil2QLyz9Uf9RkirZ1T4Wkk5NK8so5NeXohUokjh2wCkYIoyjYfxIEwJ974ZuCB/SnF4uDFCBLookUoZ7tp99DZ0xexMH9ZPmRQWAXZtzjAV5J5o2S6OLU46CivegerKodxtCsXchTqCXiGkFtGGbtBoSJO+Y7Q9U1tonmGkeAWU9LlAC0mHFKA6g3NcpmKIy5YVhv01cjIo++0xwH++kgV4frqOaFG/RfUJ5m/pM38CwGKQxhWXbWnWgBXg8Uaf9KhT7vtCvhom3lzwopgG90i2Hgy5UzUo/seJu+74yYbVKeyRVwaGO94voLgap8OrgucwOexRbMVTcrIW4ddVdBX//J711fot87C9byyBY03yEKm8kHlk4vSQ5A+BtBELPfXckKX8okr3SwIJCN6hLlwM6IsVNHiJu2OlLb3wtjGDZqJBrVTB7iLQWYujT4WRXwtRFxk0Rbo0WxWU7n3cQ=
    bucket: amos-deploy-dev
    skip_cleanup: true
    region: eu-west-1
    local-dir: deployment-build
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH = feature-32-travis-deployment || $TRAVIS_BRANCH = feature-32-travis-deployment-master
  - provider: codedeploy
    access_key_id:
      secure: rtsCemp81+EDPH12IoIR8jgcI309jo7ftmNlJ83XPu7TY1nWHE4/IVATRDb/v+jTIx7jQp8clY6BFMJpaNkReuSA3rJFtv/WtDSZp9kJaiIZDCzSowxIHY9DAr3cYgBuCVxm8N3YCG59GRHKvpPl//t9OfKMXMGEEQYgCF+mxVGpsM4RN14utxgV1tweAJ0nWQ4Z14CHmOHKLLhNuFBwKH5ZSRovD4Qc435v5PeaHf54Ru+0xPWCxX4t00qywuNGeyAlwZ6NSwGDVaY6KDuVnhQJiVlrj3ZezG/t5eVUgsxBuSpzhnk9ho/0Z93xjITpoDIVnBSBLH6lg9KyeQn03qt/Y7EoaU/SrWqq+llY3T+5n0FZzYevCxVaj1r1QIVf3zy5ynVUlv7otbWdBWcdaQyy5PVO8zfnmo1pqI8leZbi112NNT8fZpCCrvAZO0hdMR2J5IpyV+qxmd5LK5+pmW4v3xk3aQQp02iZnf4Br78rPzIf8QZaM+uy/yqM65XMHOevWxtkoTVFO4L2YodrsKppakZp5XJeu02YtBoSdWq0bg7jHFBEHBGX8++rJqoyPJg1NdIFx6tINaS9sroJTlwd4nI8b/FvYzU8LWH9PM2vMikrDsbxOdMj8tQGUDBZdVcjaM3UNN7g/mqnuQ7SkxH9T9h6kgXU1OBfq6xdri8=
    secret_access_key:
      secure: kfF53sQ5f1U9kytxv1IlFLnR7WQwq8YJFMz/20SHjMEpRH5iFZuKlHXxopJnlTPk6sAWWkfZunVD2+3pl5PtZX6fwVUF9BYxykyZ8/acOpL8YfUJmLekDya0R1utG2s8YKCSZYY/oVWVEc7wKvgLy9oB9YtJgWnzMXJ1XurkZpyc6tzRXthB5uETYAh6TRVfai4edxsNq/x7s+gYHKbqmWHil2QLyz9Uf9RkirZ1T4Wkk5NK8so5NeXohUokjh2wCkYIoyjYfxIEwJ974ZuCB/SnF4uDFCBLookUoZ7tp99DZ0xexMH9ZPmRQWAXZtzjAV5J5o2S6OLU46CivegerKodxtCsXchTqCXiGkFtGGbtBoSJO+Y7Q9U1tonmGkeAWU9LlAC0mHFKA6g3NcpmKIy5YVhv01cjIo++0xwH++kgV4frqOaFG/RfUJ5m/pM38CwGKQxhWXbWnWgBXg8Uaf9KhT7vtCvhom3lzwopgG90i2Hgy5UzUo/seJu+74yYbVKeyRVwaGO94voLgap8OrgucwOexRbMVTcrIW4ddVdBX//J711fot87C9byyBY03yEKm8kHlk4vSQ5A+BtBELPfXckKX8okr3SwIJCN6hLlwM6IsVNHiJu2OlLb3wtjGDZqJBrVTB7iLQWYujT4WRXwtRFxk0Rbo0WxWU7n3cQ=
    bucket: amos-deploy-dev
    key: latest.zip
    application: amos-app-dev
    deployment_group: amos-deployment-group
    region: eu-west-1
    wait-until-deployed: true
    on:
      branch: feature-32-travis-deployment
  - provider: codedeploy
    access_key_id:
      secure: rtsCemp81+EDPH12IoIR8jgcI309jo7ftmNlJ83XPu7TY1nWHE4/IVATRDb/v+jTIx7jQp8clY6BFMJpaNkReuSA3rJFtv/WtDSZp9kJaiIZDCzSowxIHY9DAr3cYgBuCVxm8N3YCG59GRHKvpPl//t9OfKMXMGEEQYgCF+mxVGpsM4RN14utxgV1tweAJ0nWQ4Z14CHmOHKLLhNuFBwKH5ZSRovD4Qc435v5PeaHf54Ru+0xPWCxX4t00qywuNGeyAlwZ6NSwGDVaY6KDuVnhQJiVlrj3ZezG/t5eVUgsxBuSpzhnk9ho/0Z93xjITpoDIVnBSBLH6lg9KyeQn03qt/Y7EoaU/SrWqq+llY3T+5n0FZzYevCxVaj1r1QIVf3zy5ynVUlv7otbWdBWcdaQyy5PVO8zfnmo1pqI8leZbi112NNT8fZpCCrvAZO0hdMR2J5IpyV+qxmd5LK5+pmW4v3xk3aQQp02iZnf4Br78rPzIf8QZaM+uy/yqM65XMHOevWxtkoTVFO4L2YodrsKppakZp5XJeu02YtBoSdWq0bg7jHFBEHBGX8++rJqoyPJg1NdIFx6tINaS9sroJTlwd4nI8b/FvYzU8LWH9PM2vMikrDsbxOdMj8tQGUDBZdVcjaM3UNN7g/mqnuQ7SkxH9T9h6kgXU1OBfq6xdri8=
    secret_access_key:
      secure: kfF53sQ5f1U9kytxv1IlFLnR7WQwq8YJFMz/20SHjMEpRH5iFZuKlHXxopJnlTPk6sAWWkfZunVD2+3pl5PtZX6fwVUF9BYxykyZ8/acOpL8YfUJmLekDya0R1utG2s8YKCSZYY/oVWVEc7wKvgLy9oB9YtJgWnzMXJ1XurkZpyc6tzRXthB5uETYAh6TRVfai4edxsNq/x7s+gYHKbqmWHil2QLyz9Uf9RkirZ1T4Wkk5NK8so5NeXohUokjh2wCkYIoyjYfxIEwJ974ZuCB/SnF4uDFCBLookUoZ7tp99DZ0xexMH9ZPmRQWAXZtzjAV5J5o2S6OLU46CivegerKodxtCsXchTqCXiGkFtGGbtBoSJO+Y7Q9U1tonmGkeAWU9LlAC0mHFKA6g3NcpmKIy5YVhv01cjIo++0xwH++kgV4frqOaFG/RfUJ5m/pM38CwGKQxhWXbWnWgBXg8Uaf9KhT7vtCvhom3lzwopgG90i2Hgy5UzUo/seJu+74yYbVKeyRVwaGO94voLgap8OrgucwOexRbMVTcrIW4ddVdBX//J711fot87C9byyBY03yEKm8kHlk4vSQ5A+BtBELPfXckKX8okr3SwIJCN6hLlwM6IsVNHiJu2OlLb3wtjGDZqJBrVTB7iLQWYujT4WRXwtRFxk0Rbo0WxWU7n3cQ=
    bucket: amos-deploy-dev
    key: latest.zip
    application: amos-app-master
    deployment_group: amos-deployment-group
    region: eu-west-1
    wait-until-deployed: true
    on:
      branch: $TRAVIS_BRANCH = feature-32-travis-deployment-master
